*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 
 body{
    background-image: url( HTML/front.jpg);
     background-size: cover;
     height: 100vh;
     background-position: center;
     display: flex;
     align-items: center;justify-content: center;
     backdrop-filter: blur(3px);

}
.glass{
    width: 900px;
    height: 520px;
    box-shadow: 0 0 8px rgba(255, 255,255, 1);
    background-image: url(HTML/front.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display:  flex;
    padding: 30px 8%;
}
.logo{
    font-size: 22px;
    color: white;
     cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.1s ease-out;
}
nav ul li:active{
    border-bottom: 2px solid#fff;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-weight: bold;
}
h3{
    color: white;
    margin: 80px 110px -25px;
    font-style: italic;
    font-weight: 200;
    font-size: 25px;
    letter-spacing: 1px;
}
h1{
    color: white;
    margin: 0 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    letter-spacing: 10px;
    opacity: 0.6;

    background-image: linear-gradient(45deg,black,white,black,white);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

}